@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



/*  Basic Layout Structure */

body {
  background-color: rgb(245,245,245)
}

.container {
  display: block;
  width: auto;
  height: 100vh;
  margin: 0px auto;
  font-size: 0px;
  background-color: rgb(45,30,23);
}


header.main-header {
  width: 100%;
  height: 200px;
  background: url('../assets/small-background.jpg');
  background-position: center;
  background-size: auto;
  border-bottom: 1px solid rgba(45,30,23,.3);
  background-color: white;
}

.main-header-nav {
  display: flex;
  justify-content: space-between;
}

div.hamburger-menu  {
  font-size: 20px;
  padding: 20px;
  color: rgb(255,255,255);
}

div.shopping-cart  {
  font-size: 20px;
  padding: 20px;
  color: rgb(255,255,255);
  cursor: pointer;
}

.side-nav {
  width: 70vw;
}


footer.main-footer{
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(45,30,23);
}

footer.main-footer .footer-text {
  font-size: 9px;
  color: white;
  text-transform: uppercase;
}

/* CoffeeShops Section */



section.main-section {
  width: auto;
  height: 260px;
  border-bottom: 1px solid rgba(45,30,23,.15);
  background-color: white;
}

h1.main-section-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 20px;
}

.main-horizontal-scroller {
  width: auto;
  height: 200px;
  overflow: scroll;
  vertical-align: top;
}

.main-section-list {
  width: 820px;
  height: 200px;
  vertical-align: middle;
  line-height: 180px
}

.main-card {
  display:inline-block;
  width: 180px;
  height: 180px;
  border: 1px solid rgba(45,30,23,.15);
  margin: 0px 0px 0px 20px;
  font-size: 10px
}


.main-card:last-of-type {
    margin-right: 20px;
}


.main-card-header {
  height: 100px;
  background: url('https://cdn.workfrom.co/files/2014/08/519128766_c0132a9857_b.jpg');
  background-size: cover !important;
}


.main-card-header.items{
  height: 100px;
  background: url('https://media.istockphoto.com/photos/black-coffee-in-disposable-cup-with-clipping-path-picture-id529747627?k=6&m=529747627&s=612x612&w=0&h=lV2tGJlFgX-WQItNWbdZO8XVQHVSoUlbYod-7jKyU1I=');
  background-size: contain;
  background-position: 0px -20px;
}

.main-card-content {
  border-top: 1px solid rgba(45,30,23,.15);
  height: 80px;
}

.main-card-time {

  font-size: 12px;
  background-color: red;
  height: 0px;
  text-align: top;
}


h1.main-card-content-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

h2.main-card-content-time {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 10px;
  text-align: right;
}


/* CoffeeShop Page */


section.coffeeshop-section {
  width: auto;
  border-bottom: 1px solid rgba(45,30,23,.15);
  background-color: white;
}

h1.coffeeshop-section-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 40px 20px 10px 20px;
  text-align: center;
}

.coffeeshop-info {
  border-top: 1px solid rgba(45,30,23,.3);
  border-bottom: 1px solid rgba(45,30,23,.15);
  padding-bottom: 30px;
}

h2.coffeeshop-section-address {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

h2.coffeeshop-time {
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px;
  text-align: right;
  margin: -50px 20px 10px 0px;
  font-size: 14px;
  color: white;
}

header.main-header.coffeeshop {
  background: url('http://www.dcbebop.com/cuisine/ZEITGEISTwa.jpg');
  background-position: center;
  background-size:cover ;
}


.coffeeshop-item-card {
  height: 100px;
  border-bottom: 1px solid rgba(45,30,23,.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.coffeeshop-item-card:last-of-type{
  border: none;
}

img.coffeeshop-item-card-image {
  display: inline-block;
  height: 70px;
  vertical-align: middle;
}

h1.coffeeshop-item-card-title {
  display: inline-block;
  margin: 0px;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
}

.coffeeshop-item-card-price {
  font-size: 18px;
  font-weight: 400;
}

/*  Item Options Page*/

.item-options-item-card-container {
  /* min-height: 100px; */
}

.item-options-add-button {
  display: block;
  width: 60%;
  height: 60px;
  margin: 46px auto;
}



/*  Order Page */


section.cart-section {
  width: auto;
  /* border-bottom: 1px solid rgba(45,30,23,.15); */
  background-color: white;
}

h1.cart-section-title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 40px 20px 20px 20px;
  text-align: left;
}

.cart-info {
  /* border-top: 1px solid rgba(45,30,23,.3);
  border-bottom: 1px solid rgba(45,30,23,.15); */
  padding-bottom: 30px;
}

h2.cart-section-subtitle {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 3px 20px;
  text-align: left;
}

h2.cart-section-subtitle:first-of-type {
  font-weight: 400;
}

.cart-pickup-time {
  margin-bottom: 20px;
}


h1.cart-pickup-time-text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}


input.cart-pickup-time-slider{
  padding: 5px 20px;
}




.cart-item-card {
  height: 100px;
  /* border-bottom: 1px solid rgba(45,30,23,.15); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cart-item-card:last-of-type{
  border: none;
}


h1.cart-item-card-title {
  display: block;
  margin: 0px;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
}


h2.cart-item-card-subtitle {
  display: block;
  margin: 0px;
  padding: 5px 0px;
  font-size: 11px;
  font-weight: 300;
  vertical-align: middle;
  text-transform: uppercase;
}

.cart-item-card-price {
  font-size: 18px;
  font-weight: 400;
}

.cart-item-button {
  font-size: 8px;
  padding: 6px 6px 6px 7px;
  border-radius: 30px;
  border: 1px solid rgba(45,30,23,.15);
  color: rgba(0,0,0,1);
  margin-right: 6px;
  cursor: pointer;
}


.cart-item-order-button {
  display: block;
  width: 100%;
  height: 80px;
  margin: 15px auto 0px auto;
}

h1.cart-section-title-total {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left;
}



/* Register */


section.register-section {
  width: auto;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.registerLogo {
  margin: auto;
  width: 200px;
  border-radius: 100px;
}

form.register-form {
  padding: 50px 20px 100px 20px;
}

.register-link {
  text-align: right;
  font-size: 12px;
  margin: 0px;
  padding-top: 10px;
  cursor: pointer;
}


header.auth-header {
  width: 100%;
  height: 200px;
  background: url('https://cdn.shopify.com/s/files/1/0226/2177/products/Candy_Relics_Rubber_paper_Cup_front_large.png?v=1458335543');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  /* border-bottom: 1px solid rgba(45,30,23,.3); */
  background-color: white;
}
