@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



/*  Basic Layout Structure */

body {
  background-color: rgb(245,245,245)
}

.container {
  display: block;
  width: 375px;
  height: 100vh;
  margin: 0px auto;
  font-size: 0px;
  background-color: rgb(45,30,23);
}


header.main-header {
  width: 100%;
  height: 200px;
  background: url('../assets/small-background.jpg');
  background-position: center;
  background-size: auto;
  border-bottom: 1px solid rgba(45,30,23,.3);
  background-color: white;
}

.main-header-nav {
  display: flex;
  justify-content: space-between;
}

div.hamburger-menu  {
  font-size: 20px;
  padding: 20px;
  color: rgb(255,255,255);
}

div.shopping-cart  {
  font-size: 20px;
  padding: 20px;
  color: rgb(255,255,255);
}

.side-nav {
  width: 70vw;
}


footer.main-footer{
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(45,30,23);
}

footer.main-footer .footer-text {
  font-size: 9px;
  color: white;
  text-transform: uppercase;
}

/* CoffeeShops Section */



section.main-section {
  width: 375px;
  height: 260px;
  border-bottom: 1px solid rgba(45,30,23,.15);
  background-color: white;
}

h1.main-section-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 20px;
}

.main-horizontal-scroller {
  width: 375px;
  height: 200px;
  overflow: scroll;
  vertical-align: top;
}

.main-section-list {
  width: 820px;
  height: 200px;
  vertical-align: middle;
  line-height: 180px
}

.main-card {
  display:inline-block;
  width: 180px;
  height: 180px;
  border: 1px solid rgba(45,30,23,.15);
  margin: 0px 0px 0px 20px;
  font-size: 10px
}


.main-card:last-of-type {
    margin-right: 20px;
}


.main-card-header {
  height: 100px;
  background: url('https://cdn.workfrom.co/files/2014/08/519128766_c0132a9857_b.jpg');
  background-size:contain;
}


.main-card-header.items{
  height: 100px;
  background: url('https://media.istockphoto.com/photos/black-coffee-in-disposable-cup-with-clipping-path-picture-id529747627?k=6&m=529747627&s=612x612&w=0&h=lV2tGJlFgX-WQItNWbdZO8XVQHVSoUlbYod-7jKyU1I=');
  background-size: cover;
  background-position: 0px -20px;
}

.main-card-content {
  border-top: 1px solid rgba(45,30,23,.15);
  height: 80px;
}

.main-card-time {

  font-size: 12px;
  background-color: red;
  height: 0px;
  text-align: top;
}


h1.main-card-content-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

h2.main-card-content-time {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 10px;
  text-align: right;
}



/*
.card {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgb(225,225,225);
  border-right: 1px solid rgb(225,225,225);
  border-left: 1px solid rgb(225,225,225);
  padding: 20px;
}

.card.fulfilled{
  background-color: rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  border-left: 1px solid rgba(0,0,0,0.15);
}


.card h1.card-order-items {
  font-weight: 600;
  font-size: 16px;
  margin: 14px 0px;
}

.card .card-content {
  display: flex;
  justify-content: space-between;
}

.card h2.card-customer-name {
  font-size: 14px;
  font-weight: 400;
}

.card .card-pickup-time-block  {
  font-size: 14px;
}

.card .card-pickup-time  {
  font-size: 14px;
  padding: 0px 10px;
}

.card h3.card-order-id {
  font-weight: 300;
  font-size: 10px;
  margin: 8px 0px 0px 0px;
  color: rgba(0,0,0,.4)
}


.order-header {
  width: 95%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  border-bottom: 1px solid rgb(225,225,225);
  align-items: center;
  margin: 0px auto;
}

.order-header h1.order-id {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0,0,0,.6)
}
.order-header h1.order-customer-name {
  font-size: 20px;
  font-weight: 300;
}

.order-header .order-pickup-time-block {
  font-size: 20px;
  font-weight: 400;
}

.order-header .order-pickup-time {
  padding: 0px 0px 0px 20px;
}


.order-card {
  width: 95%;
  justify-content: space-between;
  padding: 30px 30px;
  border-bottom: 1px solid rgb(245,245,245);
  align-items: top;
  margin: 0px auto;
}

.order-card h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.order-card ul {
  list-style-type: none;
}


.order-card ul li {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0,0,0,0.7);
  margin-bottom: 6px;
}



.order-footer {
  width: 95%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
  margin: 50px auto;
}

.order-footer .order-button {
  margin: auto;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgb(225,225,225);
  text-align: center;
  padding: 12px 25px;
  cursor: pointer;
}

.order-footer .order-button:hover {
  background-color: rgba(0,0,0,0.03)
} */
